# Built application files
*.apk
*.ap_
/build/

# Local configuration file (e.g., of Android Studio)
/.idea/

# Gradle files
/.gradle/
/local.properties

# Kotlin
*.kotlin_cache/
*.kotlin_module

# Keystore files
*.jks
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
